<div class="container border h-75">
  <form class="row gap-2" [formGroup]="input_data">
    <input autofocus autocomplete="none" type="text" class="form-control" placeholder="Enter a name..." formControlName="name">
    <button class="btn btn-primary" type="submit" (click)="addNewData($event)">Add</button>
  </form>
  <div class="right d-flex flex-wrap">
    <div class="card border m-2" *ngFor="let data of list_data;let i = index;">
      <div class="card-header">{{i+1}})  {{data}}</div>
    </div>
  </div>
</div>
